body{
    background-color: black;
}

.gauche{
    display: flex;
    gap: 20px;
    align-items: center;
}

.gauche img{
    width: 30px

}

.center p {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.center p:hover{
    border-bottom: 3px solid red;
    cursor: pointer;
    animation: 0.5s ease-in-out ;
}

.borderbottom{
    border-bottom: 3px solid red;

}
.center{
    display: flex;
    gap: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.droite img{
    width: 20px;
    height: 20px;
}

.rond{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.droite{
    display: flex;
    gap: 10px;
    align-items: center;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}